.inspections-container{
    display: flex;
    flex: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.form-container{
    width: 50%;
    height: auto;
   

}

.form-container form{
    display: flex;
    flex-direction: column;
}
