body{
    background-color: rgb(21, 29, 43);
    font-family: Arial, Helvetica, sans-serif;
}

/* signup-container{
    display: flex;
    flex-direction: row;
    align-self: center;
    width: 60vw;
    background-color:rgba(28, 37, 56, 0.719) ;
    border: none;
    border-radius: 5px;

} */

/* login*/
.login-container {
  margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 70vw;
    top: 50%;
  
    border-radius: 5px;
    margin-left: 150px;
    background-color:rgba(28, 37, 56, 0.411) ;
    color: white;
  }
  
  .left-div {
    width: 50%;
    height: 100%;
    padding: 20px;
    transition: box-shadow 0.3s;
  }
  
  .login-container:hover {
    box-shadow: 0 0 20px #fff;
  }
  
  .left-div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .right-div {
    width: 50%;
    height: 100%;
    padding: 20px;
    transition: box-shadow 0.3s;
  }
  
  /* .right-div:hover {
    box-shadow: 0 0 20px #fff;
  } */
  
  .login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .login-form h2{
    text-align: center;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type='text'],
  input[type='password'] {
    padding: 5px;
    font-size: 16px;
  }
  
  .button-container{
   
    
    display: flex;
    flex-direction: row;
    gap: 5px;
  }
  .button{
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color:#0056b3;
    width: 45%;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  .signup-container{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    width: 60vw;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    width: 60vw;
    background-color:rgba(28, 37, 56, 0.411) ;
    border-radius: 5px;
    margin-left: 300px;
    height: 70vh;
    
  }
  
  .signup-container form input,label{
    margin: 5px;
    padding: 5px;
    width: 80%;
    
  }
  .signup-container button{
    background-color:rgb(21, 29, 43) ;
    margin: 5px;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 5px;
  }
  .signup-container button:hover{
    background-color:rgb(42, 142, 253) ;
  }
  
  .signup-container form input{
    border-radius: 5px;
    border: none;
    
  }
  .signup-form{
    background-color:rgba(28, 37, 56, 0.849);
    height: 100%;
    
    flex: 50%;
    /* align-items: center;
    justify-content: center; */
    
  }
  
  .lleft-div{
    flex: 50%;
    height: 100%;
  }
  .signup-container form{
    /* align-items: center; */
    align-self: center;
    
  }
  
  .image-holder{
   width: 100%;
   height: 100%;
  }